.main-content{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

a {
  cursor: pointer;
}

.section-account {
  width: 70vw;
  height: 90vh;
}

.account {
  margin-top: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.account >  h1 {
  color: var(--primary-blue);
  margin-bottom: 16px;
}

.account > div > h2 {
  color: #a2c3fa;
}
.account-subscribe-section {
  display: flex;
  justify-content: space-between;
  height: 50%;
}

.account-subscribe-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.account-forfait-section,
.account-subscribe-section-firm-name,
.account-subscribe-section-firm-mail,
.account-subscribe-section-bankInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.account-forfait-section,
.account-actions-section,
.account-subscribe-section {
  margin-top: 1rem;
}

.account-forfait-section-info {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.h2-title {
  line-height: 2rem;
}

.h3-title{
  font-weight: 800;
}

.h4-title {
  font-weight: 800;
  color: var(--primary-blue);
}

.action-title {
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  color: var(--primary-blue);
}

hr {
  border-top: 1.5px solid var(--primary-blue);
}

.button-placement-section-action {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}