.sign-up-container {
  display: flex;
  height: 456px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 16px 56px;
  border-radius: 8px;
  border: 1px solid #DFDFDF;
  background-color: var(--pulp-white);
  width: 424px;
}