body {
  background-color: var(--background-light-blue);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
}

.content {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

.stock-title {
  align-self: flex-start;
  margin-left: 6rem;
}
