.select-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
  box-shadow: none;
  transition: all 0.3s ease;
}

.select-input {
  width: 100%;
  border: none;
  padding: 8px;
  margin-top: 8px;
  border-bottom: 2px solid var(--grey-disabled);
  background: none;
  transition: all 0.3s ease;
  color: var(--grey-disabled);
}

.select-input:focus,
.select-input:valid {
  border-bottom: 2px solid var(--primary-blue);
  color: var(--primary-blue);
  background: var(--white);
}

