//Colors
.primary-blue {
  color: var(--primary-blue)
}

.white {
  color: var(--white);
}

.black {
  color: var(--black);
}

.error {
  color: var(--error);
}

.light-blue {
  color: var(--light-blue);
}

.dark-blue {
  color: var(--dark-blue);
}

.grey-disabled {
  color: var(--grey-disabled);
}

//Backgrounds
.background-white {
  background-color: var(--white);
}

.background-light-blue {
  background-color: var(--background-light-blue)
}
