//Flex
.flex-column {
  display: flex;
  flex-direction: column;
}

//Margin
.margin-top-16 {
  margin-top: 16px;
}

.margin-right-16 {
  margin-right: 16px;
}

//Icons
.icon {
  width: 24px;
  height: 24px;
  fill: var(--black);
}

.icon-blue {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: var(--primary-blue);
  opacity: 1;
}

.main-content {
  width: 100%;
}

.home {
  height: 100%;
  width: 100%;
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

//Input
.input {
  width: 100%;
  padding: 0.813rem;
  border-radius: 8px;
  background-color: var(--input-background);
  border: 1px solid transparent;
  font-size: 14px;
  &::placeholder {
    color: var(--primary-blue);
  }
  &:focus {
    outline: none;
    border: 1px solid var(--primary-blue);
  }
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

.error-message {
  color: var(--error);
  display: flex;
  align-items:flex-start;
  text-align: left;
  font-size: 14px;
  padding-top: 0.8rem;
  font-weight: 600;
}
