.poppins {
  font-family: 'Poppins', sans-serif;
}

.title {
  font-family: "Poppins";
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-size: 2rem;
  color: var(--dark-blue);
  letter-spacing: 1%;
  font-weight: 600;
}

.uppercase-text {
  font-size: 1.5rem;
  color: var(--dark-blue);
  letter-spacing: 1%;
  font-weight: 600;
}
