.poppins {
  font-family: 'Poppins', sans-serif;
}

.title {
  font-family: "Poppins";
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-size: 2rem;
  color: var(--dark-blue);
  letter-spacing: 1%;
  font-weight: 600;
}

.uppercase-text {
  font-size: 1.5rem;
  color: var(--dark-blue);
  letter-spacing: 1%;
  font-weight: 600;
}

.title-name {
  font-size: 1.5rem;
  color: var(--primary-blue);
  font-weight: 600;
  margin-bottom: 2px;
}

.subtitle-address {
  font-size: 1rem;
  font-weight: 500;
}

.text-menu-item {
  font-size: 1.125rem;
  font-weight: 400;
}

.card-title {
  font-size: 0.75rem;
  font-weight: 500;
}

.card-text {
  font-size: 1.5rem;
  font-weight: 600;
}
